@import './btns.scss';
@import './transitions.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 21px;
  font-size: 16px;
  font-weight: 500;
}
